<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class>
        <p>
            
        </p>
    </div>
    <script src="../path/to/flowbite/dist/flowbite.js"></script>
</body>
</html>